<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="AltaVault Cloud Storage">
    <meta name="keywords" content="AltaVault Cloud Storage">
    <title>AltaVault Stats Engine</title>
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="build/styles.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
    <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"> -->
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body ng-app="altavault">
    <!-- START HEADER -->
    <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="indigo">
                <div class="nav-wrapper">
                    <ul class="left">
                        <li class="no-hover"><a href="#" data-activates="slide-out" class="menu-sidebar-collapse btn-floating btn-flat btn-medium waves-effect waves-light cyan hide-on-large-only"><i class="mdi-navigation-menu" ></i></a></li>
                        <li>
                            <h1 class="logo-wrapper"><a href="#" class="brand-logo darken-1"><img src="images/altavault.png"></a> <span class="logo-text">AltaVault</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore AltaVault" />
                    </div>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation ">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col s4 m4 l4">
                                <img src="images/user.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">Firstname Lastname<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">Amnesiac</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold active"><a href="index.html" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Home</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-device-now-widgets"></i> Configure</a>
                            </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Reports</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="livechart.html">Live</a>
                                        </li>
                                        <li><a href="staticchart.html">Static</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Maintenance</a>
                    </li>
                    <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Help</a>
                    </li>
                    <li class="li-hover">
                        <div class="divider"></div>
                    </li>
                    <li class="li-hover">
                        <p class="ultra-small margin more-text">MORE</p>
                    </li>
                    <li><a href="#"><i class="mdi-image-grid-on"></i> Support</a>
                    </li>
                    <li><a href="#"><i class="mdi-editor-format-color-fill"></i> Contact</a>
                    </li>
                </ul>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content" ng-controller="dashboard">
                <!--start container-->
                <div class="container">
                    <!--card widgets start-->
                    <div id="card-widgets">
                        <div class="row">

                            <div class="col s12 m12 l4">
                                <div id="chart-card" class="card z-depth-5">
                                    <div class="card-header indigo darken-4">
                                        <div class="card-title">
                                            <h3 class="title">Cloud</h3>
                                            <p class="info">Total {{ toStr(cloudTotal) }}</p>
                                        </div>
                                    </div>
                                    <div id="cloud" class="graph"></div>
                                </div>
                                <div class="card" ng-show="systemShow">
                                    <div class="card-content">
                                        <span class="card-title black-text">System Status</span>
                                        <table class="bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Appliance Time</td>
                                                    <td>{{ result.systemInformation.applianceTime }}</td>
                                                </tr>
                                                <tr>
                                                    <td>System Uptime</td>
                                                    <td>{{ result.systemInformation.systemUptime }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Service Uptime</td>
                                                    <td>{{ result.systemInformation.serviceUptime }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card" ng-show="reclShow">
                                    <div class="card-content">
                                        <span class="card-title black-text">Cloud Storage Reclamation</span>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>Status</td>
                                                    <td><span ng-show="!reclam" class="task-cat red darken-3">Not running.</span>
                                                    <span ng-show="reclam" class="task-cat green darken-3">% done</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            <div class="col s12 m12 l4">
                                <div ng-show="alarms" class="card red darken-4">
                                    <div class="card-content white-text">
                                        <span class="card-title">Alarms Triggered</span>
                                        <table class="bordered">
                                        <tr ng-repeat="alarm in result.alarmsTriggered">
                                            <td>{{alarm.name}}</td>
                                            <td>{{alarm.status}}</td>
                                        </tr>
                                        </table>
                                    </div>
                                    <div class="card-action right">
                                        <a href="#">Fix It!</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title black-text">Optimization</span>
                                        <table class="bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Service</td>
                                                    <td><span class="task-cat {{ getColor(result.serviceStateData.serviceState) }} darken-3">{{ result.serviceStateData.serviceState }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td><span class="task-cat {{ getColor(result.serviceStateData.readyState) }} darken-3">{{ result.serviceStateData.readyState }}</span></td>
                                                </tr>
                                                <tr ng-show="reason">
                                                    <td>Reason</td>
                                                    <td>{{ result.serviceStateData.blockedReason }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title black-text">Cloud Info</span>
                                        <table class="bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Status</td>
                                                    <td><span class="task-cat {{ getColor(result.cloudInformation.cloudConnection) }} darken-3">{{ result.cloudInformation.cloudConnection }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Provider</td>
                                                    <td>{{ result.cloudInformation.cloudProvider }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Class</td>
                                                    <td>{{ result.cloudInformation.storageClass }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title black-text">Storage Optimization</span><br>
                                        <span ng-show="!storageOpt" class="task-cat red darken-3">This information is only available when the service is running.</span>
                                        <table ng-show="storageOpt" class="bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Expanded Data</td>
                                                    <td>{{ toStr(convertBytes(result.storageOptimizationData.expandedData)) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Deduplicated Data</td>
                                                    <td>{{ toStr(convertBytes(result.storageOptimizationData.dedupedData)) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Deduplication Factor</td>
                                                    <td>{{ result.storageOptimizationData.dedupFactor }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card" ng-show="replShow">
                                    <div class="card-content">
                                        <span class="card-title black-text">Replication Status</span>
                                        <table class="bordered">
                                            <tbody>
                                                <tr>
                                                    <td>Synchronized</td>
                                                    <td>{{ toStr(repBytes) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Time to complete</td>
                                                    <td>{{ result.replicationInformation.replicationETA }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col s12 m12 l4">
                                <div id="chart-card" class="card z-depth-5">
                                    <div class="card-header brown darken-4">
                                        <div class="card-title">
                                            <h3 class="title">Disk</h3>
                                            <p class="info">Total {{ toStr(diskTotal) }}</p>
                                        </div>
                                    </div>
                                    <div id="disk" class="graph"></div>
                                </div>
                                <div class="card">
                                    <div class="card-image">
                                      <img src="https://172.16.33.115:1790/render/?target=VMware-42293769517d3730-55cdb9caec02618b.sar.q.ldavg-1&from=-5min&format=png">
                                    </div>
                                    <div class="card-action">
                                      <a href="chart.html">Load Average</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Floating Action Button -->
                <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large red modal-trigger" href="#modal1">
                      <i class="large mdi-editor-mode-edit"></i>
                    </a>
                </div>
                <!-- Floating Action Button -->

                <!-- Modal Trigger -->

                <!-- Modal Structure -->
                <div id="modal1" class="modal bottom-sheet">
                    <div class="modal-content">
                        <form action="#">
                            <p>
                              <input type="checkbox" id="replShow" ng-model="replShow"/>
                              <label for="replShow">Replication Status</label>
                            </p>
                            <p>
                              <input type="checkbox" id="systemShow" ng-model="systemShow"/>
                              <label for="systemShow">System Status</label>
                            </p>
                            <p>
                              <input type="checkbox" id="reclShow" ng-model="reclShow"/>
                              <label for="reclShow">Cloud Storage Reclamation</label>
                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                    </div>
                </div>

                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- angularJS -->
    <script src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" src="build/app.js"></script>
    <!-- jQuery Library -->
    <script src="js/jquery.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.js"></script>
</body>

</html>
